* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

*::selection {
    color: #fff;
    background-color: #212121;
}

html,
body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.75rem 0;
    height: 100%;
}

#main {
    width: 100%;
}

#home {
    width: 100%;
    padding: 0 6rem;
}


#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-container {
    width: 100px;
}

#logo-container>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#right {
    display: flex;
    align-items: center;
    gap: 2rem;
}


#right span,
i {
    font-size: 1.125rem;
    cursor: pointer;
}


#homemain {
    width: 100%;
    padding: 14rem 0;

}

#homemain h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.headings {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.headings h1 {
    color: transparent;
    -webkit-text-stroke: 1px #212121;
    font-size: 7.2rem;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -1px;
}


#homelast p {
    font-size: 1.25rem;
    width: 525px;
    line-height: calc(1.25rem * 1.5);
}


#slides {
    padding: 12rem 6rem;
}

#slides>h1 {
    font-size: 4.5rem;
    font-weight: 400;
    width: 60%;
}

#slides>p {
    font-size: 1.25rem;
    width: 60%;
    line-height: calc(1.25rem * 1.5);
    margin-top: 2.5rem;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    padding: 4rem 0;
}

.card .img-container {
    width: 100%;
    height: 250px;
    background-color: #202020;
    border-radius: 0.25rem;
}

.card .tag {
    width: fit-content;
    font-size: 0.75rem;
    margin: 0.75rem 0;
    color: #333;
    background-color: #e6e6e6;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.card .title {
    font-size: 1.25rem;
}