@font-face {
    font-family: nb;
    src: url("./assets/fonts/NBInternationalProBoo.ttf");
}

@font-face {
    font-family: title;
    src: url("./assets/fonts/Rejouice-Headline.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}

#page1_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

#page1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -2;
}

#cursor {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #ff5f38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    color: #202020;
}

nav {
    width: 100%;
    padding: 3vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-family: nb;
    font-weight: 400;
    font-size: 1.32rem;
    cursor: pointer;
}

#title h1 {
    font-family: title;
    font-size: 27vw;
    font-weight: 500;
    line-height: 0.7;
}

#page2 {
    width: 100%;
    height: 100vh;
    padding: 4vw 3vw;
    background-color: #FAF8F3;
}

#page2-top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5vw 0;
    border-bottom: 1px solid #202020;
    align-items: flex-end;
}

#page2-top-left>h3 {
    font-weight: 400;
    font-size: 1.5vw;
}

#page2-top-right>h3 {
    font-weight: 400;
    font-size: 1.5vw;
}

#page2-content {
    padding: 2vw 0;
}

.elem {
    overflow: hidden;
}

.elem>h1 {
    font-weight: 400;
    font-size: 4vw;
}

.elem:nth-child(1) {
    padding-left: 8vw;
}


#page3 {
    width: 100%;
    /* min-height: 100vh; */
    background-color: #FAF8F3;
    padding: 4vw 3vw;
}

#page3-top {
    width: 100%;
    padding: 6vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page3-subtitle>h3 {
    font-weight: 500;
    font-size: 1.25vw;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#page3-subtitle>h3>span {
    background-color: #202020;
    padding: 0.25vw 0.5vw;
    font-size: 0.75vw;
    color: #fff;
    border-radius: 2vw;
}

#page3-title {
    padding: 1.5vw 0;
}

#page3-title>h2 {
    text-align: center;
    font-weight: 500;
    font-size: 4vw;
}

#page3-content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page3-content-top>h3 {
    font-weight: 500;
    font-size: 1.5vw;
}

#box-container {
    display: flex;
    gap: 1vw;
    padding: 1.5vw 0;
}

#box-container>.box {
    width: 100%;
    height: 85vh;
    background-color: #202020;
    position: relative;
    cursor: pointer;
}

#box-container>.box>video {
    position: relative;
}

#box-container>.box>video,
#box-container>.box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box-container>.box>img {
    position: absolute;
    z-index: 2;
    transition: all 0.25s ease-in;
}

#box-container>.box>img:hover {
    opacity: 0;
}